<!-- <nav>
    <a href="/">Home</a>
    <a href="/why">Why HowdyDo Exists</a>
    <a href="/partners">Partners</a>
    <a href="/stories">Stories</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
    <a href="/new-product">Add a New Product</a>
</nav>
 -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">HowdyDo</a>

    <!-- Mobile toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/why">Why HowdyDo Exists</a></li>
        <li class="nav-item"><a class="nav-link" href="/partners">Partners</a></li>
        <li class="nav-item"><a class="nav-link" href="/stories">Stories</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="/new-product">Add a Product</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- Have to make sure that the partials folder is created inside of the views folder. -->