<nav>
    <a href="/">Home Page</a>
    <a href="/why">Why HowdyDo Exists</a>
    <a href="/partners">Partners</a>
    <a href="/stories">Stories</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
</nav>


<!-- Have to make sure that the partials folder is created inside of the views folder. -->