<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HowdyDo</title>
  </head>
  <body>
    <%- include('partials/nav') %> 
    <h1>Welcome to HowdyDo</h1>
    <p>An app to help you shop local</p>

    <button class="sign-up-button">Become a Member!</button>
    <script src="/js/home.js"></script> 
    <!-- links the home.js file to EJS view -->
  </body>
</html>


