<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %> 
    <header>
        <h1>Partners</h1>
    </header>
    <%- include('partials/footer') %>
</body>
</html>