<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why</title>
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Why HowdyDo was Born</h1>

    <p>Founded on Austin’s East Side, HowdyDo champions Main Street grit over corporate greed. In today’s tough job market, we believe everyone deserves a shot at entrepreneurship. Our mission: empower Austinites to build, buy, and thrive locally—one honest business at a time.</p>
    
</body>
</html>